#para{
	background-color: yellow;
	color: green;
}
.para{
	background-color: #add;
	color:green;
}
#paragraph{
	background-color: #add;
	color: green;
}
.first,.second,.third,.forth{
	border: 2px solid #add;
	margin: 2px;
	width: 400px;
	text-align: center;
}
/*.first img,.second img,.third img,.forth img{
	width: 200px;
}*/
img{
	width: 200px;
	padding: 10px;
}
.parent{
	display:flex;
	flex-direction: ro;w-reverse
}
@media screen and (max-width: 425px){
	.parent{
		flex-direction: column;
	}
	.first{
		background-color: #c45e45;


	}
}
@media screen and (min-width:426px ) and (max-width:768px){
	.parent{
		flex-direction: row-reverse;
		justify-content: space-between;
	}
}  .first{
	background-color: #add;
	border-radius: 20px;
	width: 300px;
}